# SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
#
# SPDX-License-Identifier: Apache-2.0

vendor
build/_output/*
build/build-tools
*.DS_Store
coverage.txt
*.coverprofile
*report*.xml
*coverage*.xml
*-output.out
.idea
venv